.slider{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */
content{
    height: 50VW;
    width: 100vw;
    /* overflow: hidden; */
     box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  }

  .content .images{
    height: 100%;
    width: 90VW;
  }
  .images .nxtimg{
    height: 100%;
    max-width: 98.5vw;
  }